.profile {
    margin: 40px auto 0;
    display: grid;
    align-items: center;
    grid-template-columns: 120px minmax(1px, auto) 150px;
}
@media screen and (max-width: 767px) {
    .profile {
            display: flex;
            margin-top: 42px;
            flex-flow: column;
        }
}