.popup__form-submit {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    height: 50px;
    width: 100%;
    margin: 28px 0 0 0;
    background-color: #000;
    border: none;
    align-self: end;
    transition: background-color 150ms;
    cursor: pointer;
    border-radius: 2px;
}
.popup__form-submit:hover {
    background-color: #000000CC;
}
@media screen and (max-width: 550px) {
    .popup__form-submit {
            height: 45px;
            margin: 25px 0 0 0;
            font-size: 14px;
            line-height: 17px;
        }
}