.profile__add-button {
    width: 150px;
    height: 50px;
    border: solid #fff 2px;
    border-radius: 2px;
    margin-left: auto;
    transition: opacity 160ms;
    cursor: pointer;
    background-image: url('../../../images/add-button-plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}
.profile__add-button:hover {
    opacity: 0.6;
}
@media screen and (max-width: 767px) {
    .profile__add-button {
            width: 100%;
            margin-top: 32px;
            background-size: 16px;
        }
}