.card-elements__item-grid {
    display: grid;
    padding: 0;
    margin: 0;
    list-style-type: none;
    grid-template: repeat(auto-fill, minmax(361px, auto)) / repeat(auto-fill, minmax(282px, auto));
    grid-auto-columns: minmax(282px, auto);
    grid-auto-rows: minmax(361px, auto);
    grid-gap: 20.4px 17px;
    justify-content: center;
}