.profile__name-with-button {
    display: flex;
    gap: 18px;
}
@media screen and (max-width: 767px) {
    .profile__name-with-button {
            gap: 10px;
            padding-left: 28px;
            justify-content: center;
        }
}